@import "@fontsource/lxgw-wenkai/500.css";
@import "@fontsource/lxgw-wenkai/700.css";

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Ubuntu", system-ui, sans-serif;
}

#root {
  min-height: 100vh;
}
